<div class="container" ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <h4>Панель администратора</h4>
            <div class="col-sm-3">
                <h4>Фильтры</h4>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    <h4 class="admin-h4">Управление товарами <a href="#/admin/add" type="button" class="btn admin-btn-add btn-success">Добавить товар</a></h4>

                    <table class="table table-hover">
                        <tr>
                            <td><strong>#</strong></td>
                            <td><strong>Название</strong></td>
                            <td><strong>Категория</strong></td>
                            <td><strong>Редактировать</strong></td>
                            <td><strong>Удалить</strong></td>
                        </tr>
                        <tr ng-repeat="product in products">
                            <td>{{currentPage * per_page - 5 + $index}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td class="td-align"><a href="#admin/edit/{{product.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td class="td-align"><button  class="remove-product" ng-click="removeProduct(product)"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </table>
                    <nav ng-show="pagesNum > 1">
                        <ul class="pagination">
                            <li ng-repeat="list in paginationList" ng-class="{'active': currentPage == list.name}"><a ng-class="{'disabled': $first && currentPage == 1 || $last && currentPage == pagesNum}" ng-bind-html="list.name" href="{{list.link}}"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
