.img-responsive {
    width: 100%;
}
ul {
    list-style: none;
}
.container {
    max-width: 960px;
}
footer {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
.thumbnail {
    margin-top: 20px;
}
.tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 15px;
}
.social {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}
.phone-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.phone-snippet {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.view-phone {
    height: 350px;
}
.filter {
    font-weight: 300;
}

.phones {
    list-style: none;
}
.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}
.phone-thumbs {
    list-style: none;
    margin: 0;
}

.phone-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.phone-thumbs li {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
}

