<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive phone" ng-src="{{mainImageUrl}}"/>
            </div>

            <div class="col-md-8">
                <h1>{{product.name}}</h1>
                <p>{{product.description}}</p>
            </div>
        </div>

        <div class="row">
            <ul class="phone-thumbs">
                <li ng-repeat="img in product.images">
                    <img class="img-responsive" ng-src="{{img}}" ng-click="setImage(img)"/>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <td>Производитель</td>
                        <td>{{product.manufacturer}}</td>
                    </tr>
                    <tr>
                        <td>Модель</td>
                        <td>{{product.model}}</td>
                    </tr>
                    <tr>
                        <td>Диагональ дисплея</td>
                        <td>{{product.diagonal}}</td>
                    </tr>
                    <tr>
                        <td>Разрешение</td>
                        <td>{{product.screen}}</td>
                    </tr>
                    <tr>
                        <td>Операционная система</td>
                        <td>{{product.system}}</td>
                    </tr>
                    <tr>
                        <td>Процессор</td>
                        <td>{{product.CPU}}</td>
                    </tr>
                    <tr>
                        <td>Количество ядер процессора</td>
                        <td>{{product.cores}}</td>
                    </tr>
                    <tr>
                        <td>Количество SIM-карт</td>
                        <td>{{product.sim}}</td>
                    </tr>
                    <tr>
                        <td>Емкость батареи</td>
                        <td>{{product.battery}}</td>
                    </tr>
                    <tr>
                        <td>Вес (г)</td>
                        <td>{{product.weight}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>